* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.svg-stripe{
    width: 3rem;
    height: 3rem;
    color: white;
}
nav {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    background-color: #02000A;
    color: white;
    text-align: center;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-button{
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    background-color: transparent; /* Remove a cor de fundo */
    border: none; /* Remove o contorno */
    outline: none; /* Remove o contorno do foco */
}
.nav-button:hover{
    animation: rotate 0.4s ease forwards; 
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(180deg); }
}

body {    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #FB7600;
}

.linha-1{
    padding: 0.2rem;
}

.botoes-desk{
    gap: 10rem;
    padding: 1rem;
    align-items: center;
}

.botao-pad{
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: white;
    background-color: #02000A;
    height: 8rem;
    width: 8rem;
    border-radius: 15px;
}

.botao-pad:hover{
    color: #02000A;
    outline: none;
    background-color: white;
}
.botao-pad.active{
    color: #02000A;
    outline: none;
    background-color: white;
}